<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="helper">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d %-5p %C{2} (%F:%L) - %m%n}{STYLE=Logback}"/>
    </Console>
    <TextFieldAppender name="TextFieldAppender"/>
  </Appenders>
  <Loggers>
    <Logger name="hello" level="info"/>
    <Root level="trace">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="TextFieldAppender" />
    </Root>
  </Loggers>
</Configuration>